*.o
*.d
*.a
*.s
*.ko
*.so
*.dbg
*.cmd
*.mod
*.dtb
*.order
*.builtin
*.tar.xz
*.ext4
*.lex.c
*.tab.c
*.tab.h
*.mod.c
*.asn1.c
*.asn1.h
rootfs_debian_*/
include/config/
**/generated


vmlinux
System.map
Module.symvers

.*
!.gitignore